@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
    cursor: default;
}

.setup-bg {
    background: url("/src/assets/images/background.webp") no-repeat center;
    background-size: cover;
}

.auth-bg {
    background: url("/src/assets/images/background.webp") no-repeat center;
    background-size: cover;
}

.shake {
    animation: shake 300ms infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.7s, opacity 0.7s linear;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}